*{
  box-sizing: border-box;
}


html, body{
  margin: 0;
  padding: 0;
}
.nav-bar {
  top: 0px;
  position: absolute;
  margin:0px;
  width: 100vw;
  padding-top: 0px;
  background-color:transparent;
}

.nav-list{
  top: 0;
  left: 20px;
  background-color:transparent;    
}

.topnav{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: transparent;
}

.topnav a {
  color: #2446f0;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 5px;
  top: 10px;
}



/* css transitions that makes the text change when you hover on them. */

.topnav a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}


.topnav 
a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}


a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.logo-img {
  position: absolute;
  display: none;
  top: 0px;
}


.log-img{
  top: 0px;
  width: 30px; 
  height: 30px;
  margin: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
.cart{
     top: 15px;
  right: 50%;
      width: 30px;
  height:30px;
  margin-right: 15px;
}


.account{
     width: 30px;
  height:30px;  
  top: 0%;
}


.nav-icons{
  float: right;
  display: inline-block;
  background-color: black;
  }

.dropdown{
  top: 0%;
  right: 4%;
  display: inline-block;
  position: absolute;
  background-color: black;
   width: 30px;
  height:30px; 
}

.dropdown-options{
  display: none;
  overflow: auto;
  font-size: 15px;
  background-color: black;
}
.dropdown:hover .dropdown-options{
  display: block;
   position:absolute;
  z-index: 100;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: transparent;
}
*/


.flex-container {
  position: absolute;
  top: 200px;
  width: 100%;
  bottom: 0px;
  height: 100%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  
  .col-25 {
    margin-bottom: 20px;
  }
}


.footer{
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: grey;
  left: 0;
  right:0;
  top:1200px;
  overflow-y:hidden;
  position: absolute;
  background-image: url("images/ilya-lix-4l5fsRjJqLM-unsplash_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   animation: move-upwards 5s linear infinite;
}
/* inconjuntion with animation the keyframe give the background image motion.*/
@keyframes move-upwards {
  0% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}


.contact{
  top: 0;
  position: absolute;
}

.contact-links{
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: flex-start;
  gap: 55px;
  justify-content: space-evenly;
}

.fb{
  position: absolute;
}
.hover-fb {
position: absolute;
top: 0;
left: 0;
display: none;
}

.fb:hover .hover-fb{
  display: inline;
}

.whats{
  position: relative;
}
.hover-whats{
position: absolute;
top: 0;
left: 0;
display: none;
}

.whats:hover .hover-whats{
  display: inline;
}

.ig{
  position: relative;
}

.ig img{
  width: 45px;
  height: 45px;
}
.hover-ig{
position: absolute;
top: 0;
left: 0;
display: none;
}

.ig:hover .hover-ig{
  display: inline;
}

/*media queries*/
@media only screen and (max-width:1200px) { 
/* for laptops*/

.item1{
   width: 90vw;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  

}


@media only screen and (max-width: 1200px){
  .footer{
    top: 1000px;
  }
}



@media only screen and (max-width:992px) {
  .flex-container{
    height: max-content;
    z-index: 2;
  }

  .footer{
    top: 2000px;
  }
}

@media only screen and (max-width:480px) {

  .flex-container{
    height: max-content;
    z-index: 2;
  }

.logo-img {
  position: absolute;
  display: none;
  top: 0px;
    width: 25px;
  height:25px;
}

.cart{
     top: 10px;
      width: 25px;
  height:25px;
  margin-right: 0px;
}


  
.cart a{
  margin-left:;
}
  
  
  
  .account{
     width: 15px;
  height:15px;  
  top: 0%;
}


.nav-icons{
 right: 12%;
  position: absolute;
  display: inline-block;
  background-color: black;
width: 25px;
  }
  
.nav-icons:hover
{
}  

.dropdown{
    right:8%;
   width: 15px;
  height:15px; 
}

.dropdown-options{
  font-size: 10px;
  }


.footer{
top: 2000px;
bottom: 0;
position: relative;
  height: 120px;
}

} 