*{
  margin:0;
  padding:0;
}

html, body{
   margin:0;
  padding:0;
  height: 100%;
 width: 100%;
 overflow-x: hidden;
}

.nav-bar {
  top: 0px;
  position: absolute;
  margin:0px;
  width: 100vw;
  padding-top: 0px;
  background-color: black;
}

.nav-list{
  top: 0;
  left: 20px;
  background-color: black;    
}

.topnav{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: black;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 5px;
  top: 10px;
}



.topnav a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}  


.topnav 
a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}


a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.logo-img {
  position: absolute;
  display: none;
  top: 0px;
}

.cart{
     top: 15px;
  right: 50%;
      width: 30px;
  height:30px;
  margin-right: 15px;
}


.cart-main{
  top: 0%;
  right: 0%;
  display: inline-block;
  position: absolute;
  background-color: black;
   width: 30px;
  height:30px; 
}

.dropdown-options{
  display: none;
  overflow: auto;
  font-size: 15px;
  
  background-color: black;
}

.dropdown:hover .dropdown-options{
  display: block;
   position:absolute;
  z-index: 100;
  
  background-color: black;
}
.account{
     width: 30px;
  height:30px;  
  top: 0%;
}


.nav-icons{
  float: right;
  display: inline-block;
  background-color: black;
  }

.dropdown{
  top: 0%;
  right: 4%;
  display: inline-block;
  position: absolute;
  background-color: black;
   width: 30px;
  height:30px; 
}

.dropdown-options{
  top: 15px;
  display: none;
  overflow: auto;
  font-size: 15px;
 background-color: transparent;
}

.dropdown:hover .dropdown-options{
  display: block;
   position:absolute;
  z-index: 100;
 background-color: black;
}


.search-bar{
  position: absolute;
  margin-top: 0px;
  padding-top: 0px;
  top:100px;
  display: flex;
  bottom: 200px;
  width: 100vw;
  justify-content: center;
  height: 100px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.search-form {
  overflow-y: hidden;
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

button {
  color: white;
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}


.prod-cont{ 
  position: absolute;
  display:flex;
flex-direction: row;
top: 200px;
justify-content: flex-start;
width: 100vw;
 height: 100vh;
}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.item-content-btn .btn{
  color: white;
}
  
.input{
  display: flex;
  flex-direction: row;
  width: 18vw;
  }

.item1 {
 margin-left: 2vw;
  display:flex;
  flex-direction: column;
   width: 25vw;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2vh;
}

.item1 img{
height: 50vh;
  width: 25vw;
  float: center;
}   



 #btn{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-top: 0vw;
  width: 7vw;
  height: 4vh;
  font-size: 1.2vw;
  background-color:blue;
  color: white;
   text-align: center;
  justify-content: center;
}

.item-content{
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-txt{
  text-align: center;
}


form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: black;
  font-size: 2vw;
  }



h5{
  display: inline-block;
}

.body{
  display: flex;
 margin-top: 10px;
  /*justify-content: center;
  align-items: center;*/
  width: 100%;
  top: 0px;
  min-height: 100vh;
 flex-direction: column;

}

.footer{
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  height: 150px;
  left: 0;
  right:0;
  top:200%;
  overflow-y:hidden;
  position: absolute;
  background-image: url("images/ilya-lix-4l5fsRjJqLM-unsplash_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   animation: move-upwards 5s linear infinite;
}


/* inconjuntion with animation the keyframe give the background image motion.*/
@keyframes move-upwards {
  0% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}

.contact{
  top: 0;
  position: absolute;
  color:blue;
}

.contact-links{
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: flex-start;
  gap: 55px;
  justify-content: space-evenly;
}

.fb{
  position: absolute;
}

.hover-fb {
position: absolute;
top: 0;
left: 0;
display: none;
}

.fb:hover .hover-fb{
  display: inline;
}

.whats{
  position: relative;
}

.hover-whats{
position: absolute;
top: 0;
left: 0;
display: none;
}

.whats:hover .hover-whats{
  display: inline;
}

.ig{
  position: relative;
}

.ig img{
  width: 45px;
  height: 45px;
}
.hover-ig{
position: absolute;
top: 0;
left: 0;
display: none;
}

.ig:hover .hover-ig{
  display: inline;
}

@media only screen and(max-device-width: 768px){
  
.item1 {
    justify-content: space-evenly;
  display:flex;
flex-direction: row;
   width:20vw;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2vh;
}

.item1 img{
height: 30vh;
  width: 25vw;
}

.item{
  display: flex;
  position: fixed;
  right: 0;
  top:20vh;
  width: 15vw;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#btn{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-top: 0vw;
  width: 5vw;
  height: 4vh;
  font-size: 1.2vw;
  background-color:blue;
  color: white;
   text-align: center;
  justify-content: center;
}

}


@media only screen and (max-device-width: 425px) 
{
  
.logo-img {
  position: absolute;
  display: none;
  top: 0px;
    width: 25px;
  height:25px;
}

.cart{
     top: 10px;
      width: 25px;
  height:25px;
  margin-right: 0px;
}

 .account{
     width: 15px;
  height:15px;  
  top: 0%;
}

.nav-icons{
 right: 12%;
  position: absolute;
  display: inline-block;
  background-color: black;
width: 25px;
  }
  
.dropdown{
    right:8%;
   width: 15px;
  height:15px; 
}

.dropdown-options{
  font-size: 10px;
  }

.body{
   display: flex;
   height: 100vh;
  flex-direction: column;
  justify-content: center;
 }

.item1{  
  display: flex;
  flex-direction: column;
  margin-left:  0px;
   width:80vw;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     float: right;
  right: 0;
}

  .item1 img{
    height: 50vh;
    width: 80vw;
  }
  
.price{
  font-size:5vw;
  width:20vw;
  float: center;
  align-self: center;
  margin-bottom: 2vw;
}

  .item-content{
    width: 50vw;
  }

 #btn{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-top: 0vw;
  width: 20vw;
  height: 4vh;
  font-size: 2vw;
  background-color:blue;
  color: white;
   text-align: center;
}

  #item-btn{
    align-items: center;
  }

.input{
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.price{
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 16px;
  float: left;
  }



form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
}
  
  .footer{
    bottom:0;
    height: 100px;
    top: 2500px;
  }

  .contact-links{
    top: 30px;
  }
}

/*@media only screen and (min-device-width: 375px){
.item .input-txt{
  margin-left:5vw;
} 
}
}*/

@media only screen 
  and (min-device-width: 320px) 
  {
  
.logo-img {
  position: absolute;
  display: none;
  top: 0px;
    width: 25px;
  height:25px;
}

   .totalprice{
   font-size:7vw;
 }

    .item{
      width: 94vw;
    }
    
  .item .btn{
  display:flex;
  justify-content:center;
  width: 70vw;
   font-size:5vw;
}
  
.cart{
     top: 10px;
      width: 25px;
  height:25px;
  margin-right: 0px;
}


.item .input-txt{
  margin-left:1vw;
}
  footer{
    bottom: 0;
    height: 100px;
    position:absolute;
  } 

.contact h4{
  font-size: 5vw;
}
.account{
  width: 25px;
  height: 25px;
}
  
}